[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
beautifulsoup4 = "*"
selenium = "*"

[dev-packages]

[requires]
python_version = "3.7"

[scripts]
start = "python3 webrtc.py"
